@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

  :root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: "Open Sans",sans-serif;

}

.bg-login-image {
  /* background-image: url('./assets/rx-bg.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-color: #004C91;
  /* Add more background properties as needed */
}

.progressBar {
  width: '100%';
  /* margin-bottom: 10px, */
}

.sidebar-external-bg{
  background-color: rgba(0, 55, 94, 0.4)
}
.my-element {
  scrollbar-hide: ti;
  -webkit-scrollbar: none;
}
